<div id="dog-breed-detail-container">
    <div id="dog-breed-detail-title">
        <h3>{{ setTitleCase(breedDetails.subBreedName) }} {{ setTitleCase(breedDetails.name) }}</h3>
    </div>
    <hr />
    <div class="dog-breed-detail-image-container">
            @for (imageUrl of breedDetails.imageUrls; track imageUrl) {
                <img class="dog-breed-detail-image loading-background" [ngSrc]="imageUrl" width="340" height="320" />
            }
    </div>
    <div class="dog-breed-detail-info-chips">
        <mat-chip-option selected selectable="false">Breed: {{ setTitleCase(breedDetails.name) }}</mat-chip-option>
        <mat-chip-option [selected]="!!breedDetails.subBreedName" [disabled]="!breedDetails.subBreedName" selectable="false">
            Sub-breed: {{ setTitleCase(breedDetails.subBreedName) || 'N/A' }}
        </mat-chip-option>
    </div>
    <hr />
    @if (breedDetails.relatedSubBreeds.length > 0) {
        <div class="dog-breed-detail-related-subbreeds">
            <p>Like this dog? Here are other dogs like this...</p>
            <ul>
            @for (relatedSubBreed of breedDetails.relatedSubBreeds; track relatedSubBreed.id) {
                <li>
                    <a [routerLink]="['/breeds', relatedSubBreed.id]">
                        {{ setTitleCase(relatedSubBreed.subBreedName) }} {{ setTitleCase(breedDetails.name) }}
                    </a>
                </li>
            }
            </ul>
        </div>
    }
    <button
        mat-stroked-button
        id="dog-breed-detail-back-button"
        (click)="onBackClick()"
    >
        Back
    </button>
</div>