table {
  margin-top: 38px !important;
  margin-bottom: 38px !important;
  width: 400px;
  margin: auto;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

th {
  position: sticky;
}

td:hover {
  color: blue;
  cursor: pointer;
}
