<div id="dog-breed-table-container">
    <div class="dog-breed-table-title">
        <h3>Dog Breeds</h3>
        <mat-icon class="dog-breed-table-title-icon">pets</mat-icon>
    </div>
    <hr style="margin:0" />
    <mat-button-toggle-group style="margin-top:30px;">
        <mat-button-toggle
            (click)="toggleAggregatedView(true)"
            [checked]="isAggregatedView"
        >
            Aggregated View
        </mat-button-toggle>
        <mat-button-toggle
            (click)="toggleAggregatedView(false)"
            [checked]="!isAggregatedView"
        >
            Sub-breed View
        </mat-button-toggle>
    </mat-button-toggle-group>
    <breed-list-table [breeds]="breeds" [isAggregatedView]="isAggregatedView" />
    <hr style="margin:0" />
    <div class="dog-breed-table-footer">
        <div class="dog-breed-table-pagination">
            @for (pageNumber of numberOfPagesArray; track pageNumber) {
                <button
                    mat-mini-fab
                    [ngClass]="currentPage === pageNumber ? 'breed-list-selected-page' : ''"
                    (click)="onPageNumberClick(pageNumber)"
                >
                    {{ pageNumber }}
                </button>
            }
        </div>
        <button [disabled]="currentPage === 1 ? true : false" (click)="onPreviousPageClick()" mat-icon-button>
            <mat-icon>arrow_backward</mat-icon>
        </button>
        <button [disabled]="currentPage === numberOfPages ? true : false" (click)="onNextPageClick()" mat-icon-button>
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
</div>