#dog-breed-table-container {
  height: auto;
  text-align: center;
}

table {
  margin-top: 38px !important;
  margin-bottom: 38px !important;
  width: 400px;
  margin: auto;
}

table,
th,
td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

th {
  position: sticky;
}

td:hover {
  color: blue;
  cursor: pointer;
}

.dog-breed-table-pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.breed-list-selected-page {
  background-color: blue;
  color: white;
}

.dog-breed-table-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100px;
  background-color: #89cff0;
}

.dog-breed-table-footer {
  padding-bottom: 50px;
}

.dog-breed-table-title > h3 {
  margin: 0;
}
